<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <!-- 設定値 -->
  <property name="charset" value="UTF-8" />
  <property name="format" value="%d{yyyy/MM/dd HH:mm:ss} %-5level [%thread] - %msg%n" />
  <springProperty name="file.path" source="log.file.path" />
  <springProperty name="file.path.pattern" source="log.file.pattern" />
  <springProfile name="local">
    <property name="log.level" value="DEBUG" />
    <property name="log.level.hibernate" value="TRACE" />
  </springProfile>
  <springProfile name="dev">
    <property name="log.level" value="INFO" />
   <property name="log.level.hibernate" value="INFO" />
  </springProfile>

  <!-- コンソール出力 -->
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <target>System.out</target>
    <!-- 出力される文字列に関する設定箇所 -->
    <encoder>
      <charset>${charset}</charset>
      <pattern>${format}</pattern>
    </encoder>
  </appender>
  
  <!-- ファイル出力 -->
  <appender name="APP_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <!-- 出力先 -->
    <file>${file.path}</file>
    <!-- ローテーション設定 -->
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${file.path.pattern}</fileNamePattern>
      <maxHistory>3</maxHistory>
    </rollingPolicy>
    <encoder>
      <pattern>${format}</pattern>
    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="STDOUT"/>
    <appender-ref ref="APP_LOG"/>
  </root>
  
  <!-- ログ出力レベル設定 -->
  <logger name="com.example.demo" level="${log.level}"/>
  <logger name="org.hibernate.SQL" level="${log.level}"/>
  <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="${log.level.hibernate}"/>
  <logger name="org.hibernate.type.EnumType" level="${log.level.hibernate}"/>
</configuration>