<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
</head>
<body>
  <nav layout:fragment="header-contents" class="navbar navbar-inverse navbar-fixed-top navbar-dark bg-dark">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">SpringSample</a>
      </div>
      <!-- ログインユーザー -->
      <div class="pull-right navbar-brand">
        ID: <span sec:authentication="name">id</span>
        , 名前: <span sec:authentication="principal.displayUserName">name</span>
      </div>
      <form method="post" th:action="@{/logout}">
        <button class="btn btn-link pull-right navbar-brand" type="submit">
          ログアウト
        </button>
      </form>
    </div>
  </nav>
</body>
</html>
